<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=37.46.80.222;Initial Catalog=ex_apecautoR_store; Integrated Security=False; User Id = sa; password=Newboyintown12" providerName="System.Data.SqlClient" />
    <add name="ex_rmsauto_storeConnectionString" connectionString="Data Source=37.46.80.222;Initial Catalog=ex_apecautoR_store; Integrated Security=False; User Id = sa; password=Newboyintown12" providerName="System.Data.SqlClient" />
    <add name="ex_rmsauto_commonConnectionString" connectionString="Data Source=37.46.80.222;Initial Catalog=ex_apecautoR_common;Integrated Security=False; User Id = sa; password=Newboyintown12" providerName="System.Data.SqlClient" />
    <add name="RmsAuto.TechDoc.Properties.Settings.ex_tecdocsConnectionString" connectionString="Data Source=37.46.80.222;Initial Catalog=tecdoc_new;Integrated Security=False; User Id = sa; password=Newboyintown12" providerName="System.Data.SqlClient" />
    <!--<add name="DefaultConnection" connectionString="Data Source=ADMIN-PC\ADM;Initial Catalog=ex_apecautoR_store; Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="ex_rmsauto_storeConnectionString" connectionString="Data Source=ADMIN-PC\ADM;Initial Catalog=ex_apecautoR_store; Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="ex_rmsauto_commonConnectionString" connectionString="Data Source=ADMIN-PC\ADM;Initial Catalog=ex_apecautoR_common;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="RmsAuto.TechDoc.Properties.Settings.ex_tecdocsConnectionString" connectionString="Data Source=ADMIN-PC\ADM;Initial Catalog=tecdoc_new;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>